#root, html, body {
    height: 100vh;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    margin: 5vh auto;
    text-align: center;
    color: #1d2023;
    font-family: "Calistoga", sans-serif !important;
    font-weight: 700 !important;
    letter-spacing: 1px;
}

h3 {
    margin: 3vh auto;
    text-align: center;
    color: #1d2023;
    font-family: "Calistoga", sans-serif !important;
    font-weight: 700 !important;
    letter-spacing: 1px;
}